<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>DS Policy Human interface</display-name>

    <servlet>
        <servlet-name>AccessControlPolicy</servlet-name>
        <servlet-class>fr.unicaen.iota.dphi.xacml.servlet.AccessControlPolicy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessControlPolicy</servlet-name>
        <url-pattern>/AccessControlPolicy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RootAccountAuth</servlet-name>
        <servlet-class>fr.unicaen.iota.dphi.xacml.servlet.RootAccountAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootAccountAuth</servlet-name>
        <url-pattern>/RootAccountAuth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>XACMLInterface</servlet-name>
        <servlet-class>fr.unicaen.iota.dphi.xacml.servlet.XiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>XACMLInterface</servlet-name>
        <url-pattern>/xi</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>DPHiSecure</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>dphi_user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transporting-guarantee>CONFIDENTIAL</transporting-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config>
    <security-role>
        <role-name>dphi_user</role-name>
    </security-role>

</web-app>
