<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>EpcILoN</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>fr.unicaen.iota.epcilon.conf.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubscribedServlet</servlet-name>
        <servlet-class>fr.unicaen.iota.epcilon.query.SubscribedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscribedServlet</servlet-name>
        <url-pattern>/SubscribedServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>UnsubscribedServlet</display-name>
        <servlet-name>UnsubscribedServlet</servlet-name>
        <servlet-class>fr.unicaen.iota.epcilon.query.UnsubscribedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnsubscribedServlet</servlet-name>
        <url-pattern>/UnsubscribedServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>StandingQueryCallbackServlet</display-name>
        <servlet-name>StandingQueryCallbackServlet</servlet-name>
        <servlet-class>fr.unicaen.iota.epcilon.query.StandingQueryCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StandingQueryCallbackServlet</servlet-name>
        <url-pattern>/StandingQueryCallbackServlet</url-pattern>
    </servlet-mapping>
</web-app>
