<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>EPCIS Policy Human interface</display-name>
    <servlet>
        <servlet-name>AccessControlPolicy</servlet-name>
        <servlet-class>fr.unicaen.iota.epcisphi.xacml.servlet.AccessControlPolicy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessControlPolicy</servlet-name>
        <url-pattern>/AccessControlPolicy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RootAccountAuth</servlet-name>
        <servlet-class>fr.unicaen.iota.epcisphi.xacml.servlet.RootAccountAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootAccountAuth</servlet-name>
        <url-pattern>/RootAccountAuth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>XACMLRequestInterface</servlet-name>
        <servlet-class>fr.unicaen.iota.epcisphi.xacml.servlet.XACMLServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>XACMLRequestInterface</servlet-name>
        <url-pattern>/xacml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
