<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Discovery Services</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestConfiguration</servlet-name>
        <servlet-class>fr.unicaen.iota.discovery.server.tests.TestConfiguration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RootAccountAuth</servlet-name>
        <servlet-class>fr.unicaen.iota.discovery.server.servlet.RootAccountAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitialisationServlet</servlet-name>
        <servlet-class>fr.unicaen.iota.discovery.server.servlet.InitialisationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Authentification</display-name>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>fr.unicaen.iota.discovery.server.servlet.Authentification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Logout</display-name>
        <servlet-name>Logout</servlet-name>
        <servlet-class>fr.unicaen.iota.discovery.server.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestConfiguration</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RootAccountAuth</servlet-name>
        <url-pattern>/RootAccountAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitialisationServlet</servlet-name>
        <url-pattern>/InitialisationServlet</url-pattern>
    </servlet-mapping>
</web-app>
