<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Callback</display-name>

    <context-param>
        <param-name>appConfigLocation</param-name>
        <param-value>WEB-INF/classes/application.properties</param-value>
    </context-param>
  
  <!--<listener>
    <listener-class>fr.unicaen.eta.callback.receiver.CallbackContextListener</listener-class>
  </listener>-->

    <servlet>
        <servlet-name>CallbackInterface</servlet-name>
        <description>
            This servlet receives EPCIS events sent in HTTP POST requests. The POST
            data payload must contain an XML formatted EPCISDocument according to the
            schema for core event types (EPCglobal EPCIS Specification Section 9.5).
        </description>
        <servlet-class>fr.unicaen.iota.eta.callback.receiver.CallbackOperationsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
    <!-- The callback servlet will be available at http://{url:port}/{context-path}/callback -->
        <servlet-name>CallbackInterface</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <welcome-file-list id="WelcomeFileList">
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
