<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>PlaceService</servlet-name>
        <servlet-class>fr.unicaen.iota.simulator.server.servlet.PlaceService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PipeMonitor</servlet-name>
        <servlet-class>fr.unicaen.iota.simulator.server.servlet.PipeMonitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitApp</servlet-name>
        <servlet-class>fr.unicaen.iota.simulator.server.servlet.InitApp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceService</servlet-name>
        <url-pattern>/PlaceService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PipeMonitor</servlet-name>
        <url-pattern>/PipeMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitApp</servlet-name>
        <url-pattern>/InitApp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
