grant {
    permission java.awt.AWTPermission "accessClipboard";

    permission java.io.FilePermission "<<ALL FILES>>", "read";

    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.util.PropertyPermission "*", "read";
    permission java.util.PropertyPermission "java.rmi.server.hostname", "write";

    permission javax.xml.bind.JAXBPermission "setDatatypeConverter";

    permission java.net.SocketPermission "*:*", "connect,resolve";
    permission java.net.SocketPermission "*:*", "accept";
};
